h1{
    font-family: monospace;

}

@keyframes inButton{
    0%{transform: scale(1);}
    50%{transform: scale(1.2);}
    100%{transform: scale(1);}
}

button{
    font-family: monospace;
    font-size: 15px;
    color: white;
    background-color: black;
    animation: inButton 2s infinite;
}

#h1{
    font-size: 60px;
}
#p{
    font-size: 20px;
}